/* common */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */
  /* overflow-x: hidden; */

  height: 3000px;
}

a {
  /* 밑줄 제거 */
  text-decoration: none;
  color: #161616;
}

.inner {
  max-width: 1200px; 
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}


/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

header > .inner {
  height: 130px;
  display: flex;
}

header .logo {
  position: absolute;
  top: 70px;
}

header .inner .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header .inner .sub-menu span {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

header .inner .sub-menu span:hover {
  font-weight: 700;
  color: #0095DA;
}


header .inner .sub-menu #group {
  margin-right: 10px;
}

header .inner .sub-menu #group,
header .inner .sub-menu #lang_group {
  width: 100px;
  cursor: pointer;
}

header .inner .main-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

header .inner .main-menu > li {
  padding-left: 60px;
  padding-right: 60px;
  cursor: pointer;
}

header .inner .main-menu .item_content {
  width: 100%;
  position: fixed;
  left: 0;
  top: 130px;
  display: none;
  background-color: #fbfbfb;
}

header .inner .main-menu > li:hover .item_content {
  display: block;
}


header .inner .main-menu > li::after {
  display: block;
  content: '';
  padding-bottom: 30px;
  border-bottom: 5px solid #2A3493;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}


header .inner .main-menu > li:hover::after {
  transform: scaleX(1);
  display: flex;
}

header .inner .main-menu .item_content .inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

header .inner .main-menu .item_content .inner ul {
  padding: 30px 20px;
  box-sizing: border-box;
}

header .inner .main-menu .item_content .inner ul li {
  padding-bottom: 10px;

}

header .inner .main-menu .item_content .inner ul li:hover a:not(.bold_title) {
  font-weight: 700;
  color: #676767;

}

header .inner .main-menu .item_content .inner ul li .bold_title {
  font-weight: bold;
  font-size: 17px;
  color: #333;
}


/* VISUAL */
.visual {
  height: 690px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}


.visual .swiper-button-prev,
.visual .swiper-button-next {
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  bottom: 320px;
  z-index: 1;
  color: #333;
  cursor: pointer;
  transition: 0.4s;

}

.visual .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin-left: -600px;
}

.visual .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50%;
  margin-right: -600px;
}


.visual .swiper-button-prev:hover,
.visual .swiper-button-next:hover {
  border: 2px solid #2A3493;
  background-color: #2A3493;
  color: #fff;


}

.visual .material-icons {
  font-size: 30px;
}


/* SEARCH_BOX */
.search_box {
  margin-top: 100px;
}

.search_box button {
  cursor: pointer;
}

.search_box .search_tab {
  display: flex;
}

.search_box .search_tab li {
  width: 200px;
  height: 60px;
  background-color: #fbfbfb;
  border-radius: 30px 30px 0 0;
  text-align: center;
  line-height: 60px;
}

.search_box .search_tab li a {
  display: block;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
}

.search_box .search_tab_content {
  height: 290px;
  background-color: #fbfbfb;
  border-radius: 0 0 30px 30px;
  box-shadow: 5px 5px 5px #c7c7c7;
}

/* SELECT_AREA */


.select_area {
  /* width: 300px; */
  height: 145px;
  display: flex;
  box-sizing: border-box;
}

.select_area button {
  padding: 20px 0;
  outline: none;
  border: none;
  /* background-color: transparent; */
}
.select_area .select_form span:first-child,
.select_area .select_to span:first-child {
  /* width: 100%; */
  text-align: center;
  font-weight: 700;
  color: #b1b1b1;
  
}
.select_area .change {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fbfbfb;

}
.select_area .change .material-icons {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 145px;
}

.select_area .select_form h2:last-child,
.select_area .select_to h2:last-child {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: #676767;
}







