


/* common */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 모두 상속되기에 전체 스타일을 한번에 제어 */
  /* overflow-x: hidden; */

  height: 3000px;
}

a {
  /* 밑줄 제거 */
  text-decoration: none;
  color: #161616;
}

.inner {
  max-width: 1200px; 
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

/* .swiper-slide {
  width: 36%;
} */


/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #fff;
}

header > .inner {
  height: 130px;
  display: flex;
}

header .logo {
  position: absolute;
  top: 70px;
}

header .inner .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}
header .inner .sub-menu span {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

header .inner .sub-menu span:hover {
  font-weight: 700;
  color: #0095DA;
}


header .inner .sub-menu #group {
  margin-right: 10px;
}

header .inner .sub-menu #group,
header .inner .sub-menu #lang_group {
  width: 100px;
  cursor: pointer;
}

header .inner .main-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
header .inner .main-menu > ul {
  display: flex;
}

header .inner .main-menu > ul > li {
  cursor: pointer;
}
header .inner .main-menu > ul > li {
  margin: 0 40px;
}

header .inner .main-menu .item_content {
  width: 100%;
  position: fixed;
  left: 0;
  top: 130px;
  display: none;
  background-color: #fbfbfb;
}

header .inner .main-menu > ul > li:hover .item_content {
  display: block;
}

header .inner .main-menu > ul > li > a {
  padding: 0 30px;
}


header .inner .main-menu > ul > li::after {
  display: block;
  content: '';
  padding-bottom: 20px;
  border-bottom: 5px solid #2A3493;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}


header .inner .main-menu > ul > li:hover::after {
  transform: scaleX(1);
}

header .inner .main-menu .item_content .inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

header .inner .main-menu .item_content .inner ul {
  padding: 30px 20px;
  box-sizing: border-box;
}

header .inner .main-menu .item_content .inner ul li {
  padding-bottom: 10px;

}

header .inner .main-menu .item_content .inner ul li:hover a:not(.bold_title) {
  font-weight: 700;
  color: #676767;

}

header .inner .main-menu .item_content .inner ul li .bold_title {
  font-weight: bold;
  font-size: 17px;
  color: #333;
}

header .inner .btn-hamburger {
  display: none;
}

.menu_media {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 13;
  background-color: #f8f8f8;
  padding: 10px;
  box-sizing: border-box;
  transition:  0.5s;
}

.menu_media.active {
  right: 0;
}

.menu_media .menu_icons {
  display: flex;
  justify-content: space-between;
}

.menu_media .menu_icons .material-icons {
  font-size: 80px;
  cursor: pointer;
}

.menu_media .menu_list {
  margin-top: 20px;
}

.menu_media .menu_list > ul > li {
  margin: 10px 0;
}

.menu_media .menu_list > ul > li > a {
  font-size: 60px;
  font-weight: 700;
  display: inline-block;
}

.menu_media .menu_list > ul > li > a::after {
  display: block;
  content: '';
  padding-bottom: 20px;
  border-bottom: 10px solid #2A3493;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;

}


.menu_media .menu_list > ul > li > a:hover::after {
  transform: scaleX(1);
}





/* VISUAL */
.visual {
  height: 690px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.visual .swiper-button-prev,
.visual .swiper-button-next {
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  bottom: 320px;
  z-index: 1;
  color: #333;
  cursor: pointer;
  transition: 0.4s;

}

.visual .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  margin-left: -600px;
}

.visual .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50%;
  margin-right: -600px;
}


.visual .swiper-button-prev:hover,
.visual .swiper-button-next:hover {
  border: 2px solid #2A3493;
  background-color: #2A3493;
  color: #fff;
}

.visual .swiper-button-next::after,
.visual .swiper-button-prev::after {
  font-size: 25px;
}

.visual .material-icons {
  font-size: 30px;
}


/* SEARCH_BOX */
.search_box {
  padding-top: 100px;
}

.search_box .inner {
  position: relative;
}

.search_box button {
  cursor: pointer;
}

.search_box .search_tab {
  display: flex;
}

.search_box .search_tab li {
  width: 200px;
  height: 60px;
  background-color: #f8f8f8;
  border-radius: 30px 30px 0 0;
  text-align: center;
  line-height: 60px;
}

.search_box .search_tab li:nth-child(4) {
  background-color: #2A3493;
}

.search_box .search_tab > li:nth-child(4) > a:nth-child(1) {
  color: #fff;
}

.search_box .search_tab li a {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
}

.search_box .search_tab .tab_btn {
  background-color: rgb(42, 52, 147);
  border-radius: 30px 30px 0px 0px;
}
.search_box .search_tab .tab_btn a {
  color: rgb(255, 255, 255);
}
.search_box .search_tab .tab_btn.active {
  background-color: rgb(248, 248, 248);
  border-radius: 30px 30px 0px 0px;
}
.search_box .search_tab .tab_btn.active a {
  color: rgb(51, 51, 51);
}

/* search_tab_content */

.search_box .search_tab_content {
  display: flex;
  height: 260px;
  background-color: #f8f8f8;
  border-radius: 0 0 30px 30px;
  box-shadow: 5px 5px 5px #c7c7c7;
  padding: 30px 40px;
  /* z-index: 3; */
}

.search_box .search_tab_content .select_box {
  width: 28%;
}

/* .search_box .inner .search_tab_content:nth-child(3) {
  width: 100%;
  position: absolute;
  top: 60px;
} */


.search_box .search_tab_content .select_btn > li > button:nth-child(1) {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  font-weight: 700;
  background-color: #717171;
  color: #fff;
}
.select_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select_box .stamp_check {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  margin-bottom: 30px;

  opacity: 0;
}

.select_box .stamp_check label {
  font-size: 20px;
  font-weight: 700;
  color: #2A3493;
  margin-right: 5px;
}

.select_box .stamp_check input {
  width: 100px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  outline: none;
  padding: 0 10px;
  color: #252525;
}

.select_box .stamp_check input.hidden:focus::placeholder {
  color: transparent;
  transition: color 0.5s;
}

.select_box .stamp_check input.hidden:focus {
  border-bottom: 2px solid #2A3493;
  transition: border-bottom 0.5s;

}

.select_box .stamp_check .material-icons {
  margin-left: -23px;
  cursor: pointer;
  font-weight: 700;
}

/* SELECT_AREA */

.select_area {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
}

.select_area button {
  padding: 20px 0;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select_area .select_from .from:first-child,
.select_area .select_to span:first-child {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #b1b1b1;
  
}
.select_area .change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 30px;
  padding: 0;
  cursor: pointer;
}


.select_area .change:active .material-icons {
  color: #676767;
}

.select_area .change .material-icons {
  font-size: 50px;
  font-weight: 700;
  color: #c7c7c7;
}

.select_area .select_from span:last-child,
.select_area .select_to span:last-child {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: #676767;
}

/* select_date */
.search_box .select_date {
  width: 72%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* BOOKING_TYPE */

.search_box .search_tab_content .select_date .booking_type {
  display: flex;
  margin-top: 10px;
  padding-left: 30px;
  font-size: 18px;
}

.search_box .search_tab_content .select_date .booking_type .type1:nth-child(1) {
  font-weight: 700;
  border-bottom: 5px solid #333;
  border-radius: 3px;
  
}

.search_box .search_tab_content .select_date .booking_type span {
  display: block;
  margin-right: 30px;
  cursor: pointer;
}
.search_box .booking_type span {
  border-bottom: 2px solid transparent;
}

.search_box .booking_group {
  display: flex;
  justify-content: space-evenly;
}

.search_box .booking_group div {
  margin: 48px 0 30px;
  border-bottom: 4px solid #d9d9d9;
  cursor: pointer;
}

.search_box .booking_group div + div {
  margin-left: 50px;
}

.search_box .booking_group span:first-child {
  padding-right: 100px;
}

.search_box .btn_search {
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #2A3493;
  border-radius: 10px;
  align-self: flex-end;
}

.search_box .btn_search_1 {
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #2A3493;
  border-radius: 10px;
  align-self: flex-end;
}


.search_box .btn_search::before {
  content: '* 출/도착일과 승객, 좌석등급을 모두 선택해주세요!!';
  display: none;
  font-size: 14px;
  position: absolute;
  left: 15px;
  font-weight: 700;
  color: rgb(221, 2, 2);
}

.search_box .btn_search:focus::before {
  display: block;
}

/* search_tab_reservation */

.search_box .inner .search_tab_reservation {
  width: 100%;
  box-sizing: border-box;
  /* position: absolute;
  top: 60px; */
  height: 320px;
  background-color: #f8f8f8;
  border-radius: 0 0 30px 30px;
  box-shadow: 5px 5px 5px #c7c7c7;
  padding: 30px 40px;
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search_box .inner .search_tab_reservation .reservation_btn {
  display: flex;
  margin: 90px 0;
}


.search_box .inner .search_tab_reservation label {
  font-size: 20px;
  font-weight: 700;
  color: #2A3493;
}

.search_box .inner .search_tab_reservation input {
  width: 200px;
  outline: none;
  border: none;
  padding: 10px 5px;
  background-color: transparent;
  border-bottom: 2px solid #2A3493;
  font-size: 18px;
  font-weight: 700;
  color: #676767;
}

.search_box .inner .search_tab_reservation button:last-child {
  width: 150px;
}


/* search_tab_checkIn */
.search_box .inner .search_tab_checkIn {
  width: 100%;
  box-sizing: border-box;
  /* position: absolute;
  top: 60px; */
  height: 320px;
  background-color: #f8f8f8;
  border-radius: 0 0 30px 30px;
  box-shadow: 5px 5px 5px #c7c7c7;
  padding: 30px 40px;
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search_box .inner .search_tab_checkIn .checkIn_btn {
  display: flex;
  margin: 90px 0;
}


.search_box .inner .search_tab_checkIn label {
  font-size: 20px;
  font-weight: 700;
  color: #2A3493;
}

.search_box .inner .search_tab_checkIn input {
  width: 200px;
  outline: none;
  border: none;
  padding: 10px 5px;
  background-color: transparent;
  border-bottom: 2px solid #2A3493;
  font-size: 18px;
  font-weight: 700;
  color: #676767;
}

.search_box .inner .search_tab_checkIn button:last-child {
  width: 150px;
}






/* SALE_BOX */

.sale_box {
  padding-top: 100px;
}

.sale_box .inner {
  overflow: hidden;
}

.sale_box .inner .title {
  margin-bottom: 40px;
}
.sale_box .inner .title p:nth-child(1) {
  font-size: 20px;
}

.sale_box .inner .title p:nth-child(2) {
  font-size: 23px;
  font-weight: 500;
}

.sale_box .inner .title .btn_sale_more {
  align-self: flex-end;
  width: 150px;
  height: 50px;
  background-color: #fff;
  color: #0095DA;
  border: 2px solid #0095DA;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sale_box .inner .title .btn_sale_more:hover {
  background-color: #0095DA;
  color: #fff;
}

.sale_box .inner .title .btn_sale_more:active {
  background-color: #0078af;
  border: 2px solid #0078af;
}

.sale_box .inner .title .title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sale_box .inner .title .title_wrap h2 {
  font-size: 32px;
  font-weight: 700;
}

.sale_box .swiper {
  display: flex;
  justify-content: space-between;
  width: calc(360px * 3 + 90px * 2);
}

.sale_box .swiper .item__content {
  width: 360px;
  height: 420px;
  background-color: #fafafa;
  border-radius: 46px;
  border: 1px solid #e0e0e0;
  padding: 30px 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.sale_box .swiper .item__content .thumb_box {
  width: 314px;
  height: 210px;
  border-radius: 46px;
  background-color: #0078af;
  overflow: hidden;
  display: block;
}

.sale_box .swiper .item__content .thumb_box img {
  transition: transform 0.3s;
}

.sale_box .swiper .item__content .thumb_box:hover img {
  transform: scale(1.1);
}

.sale_box .swiper .item__content p:nth-child(2) {
  font-size: 25px;
  font-weight: 700;
  text-align: end;
  margin: 25px 0 30px;
}

.sale_box .swiper .item__content > div {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.sale_box .swiper .item__content .item__content__text span:nth-child(1) {
  color: #8BC53F;
  margin-right: 5px;
}

.sale_box .swiper .item__content .item__content__text span:nth-child(2) {
  font-size: 32px;
  font-weight: 700;
}

.sale_box .swiper .item__content .item__content__text span:nth-child(3) {
  font-weight: 700;
  color: #676767;
}


/* AIRBUSAN_GOODS */
.goods {
  padding-top: 100px
}

.goods .inner .title p:nth-child(2) {
  font-size: 23px;
  font-weight: 500;
}

.goods .inner .title .title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.goods .inner .title .title_wrap h2 {
  font-size: 32px;
  font-weight: 700;
}

.goods .inner .title .btn_sale_more {
  align-self: flex-end;
  width: 150px;
  height: 50px;
  background-color: #fff;
  color: #8BC53F;
  border: 2px solid #8BC53F;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
  transition: 
    background-color 0.3s;

}

.goods .inner .title .btn_sale_more:hover {
  background-color: #8BC53F;
  /* border: 2px solid #8BC53F; */
  color: #fff;
}

.goods .inner .title .btn_sale_more:active {
  background-color: #66ad09;
  border: 2px solid #66ad09;
}

/* goods_box */
.goods .inner .goods_box ul {
  display: flex;
  margin-top: 40px;
}

.goods .inner .goods_box ul li {
  position: relative;
}

.goods .inner .goods_box ul li .click_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -127%);
  font-size: 25px;
  font-weight: 700;
  color: #f1f1f1;
  display: none;
}

.goods .inner .goods_box ul li + li {
  margin-left: 13px;
}

.goods .inner .goods_box ul li a {
  display: block;
  width: 290px;
  height: 290px;
  border-radius: 10px;
  overflow: hidden;
  /* transition: filter 0.4s; */
}

.goods .inner .goods_box > ul > li > a:hover img {
  filter: brightness(0.8);
  transform: scale(1.1);
  transition: filter 0.4s;
}


.goods .inner .goods_box ul li p:nth-child(2) {
  font-weight: 700;
  margin: 10px 0 5px;
  cursor: pointer;
}

.goods .inner .goods_box ul li p:nth-child(2):active {
  color: #0095DA;
}
.goods .inner .goods_box ul li span:last-child {
  cursor: pointer;
}


/* TRAVEL_SERVICE */
.travel_service {
  padding-top: 100px;
}

.travel_service .inner .title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
}

/* TRAVEL_SERVICE */
.travel_service .inner .service_icons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.travel_service .inner .service_icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.travel_service .inner .service_icons li img.service_icon_h {
  position: absolute;
  top: 0;
  /* display: none; */
  opacity: 0;
  transition: opacity 0.3s linear;
}

.travel_service .inner .service_icons li:hover span {
  font-weight: 700;
  color: #2A3493;
}

.travel_service .inner .service_icons li:hover img.service_icon_h {
  /* display: block; */
  opacity: 1;
}

.travel_service .inner .service_icons li > span {
  margin-top: 10px;
}

/* NOTICE */
.notice {
  padding: 100px 0;
}

.notice .inner {
  width: 100%;
  display: flex;
}

.notice .inner .notice_box {
  width: 65%;
  height: 206px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f3f3f3;
}

.notice .inner .notice_box .notice_title {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notice .inner .notice_box .notice_title h2 {
  font-size: 32px;
  font-weight: 700;
}

.notice .inner .notice_box .notice_title p {
  margin-bottom: 50px;
}

.notice .inner .notice_box .notice_title a {
  font-weight: 700;
}

.notice .inner .notice_box .notice_title a::after {
  display:block;
  width: 65px;
  content: '';
  border-bottom: solid 4px #0095DA;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

.notice .inner .notice_box .notice_title a:hover::after {
  transform: scaleX(1); 
  transform-origin: 0% 50%;
}

.notice .inner .notice_box .notice_content {
  width: 60%;

}

.notice .inner .notice_box .notice_content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end; 
}

.notice .inner .notice_box .notice_content > ul > li > a {
  margin-right: 30px;
  /* border-bottom: 1px solid transparent; */

}

.notice .inner .notice_box .notice_content > ul > li > a:hover {
  border-bottom: 1px solid #1f1f1f;
}

.notice .inner .notice_box .notice_content > ul > li > span:nth-child(1) {
  border: 1px solid #8BC53F;
  color: #8BC53F;
  background-color: #fff;
  font-size: 12px;
  margin-right: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  line-height: 20px;
}

.notice .inner .notice_box .notice_content > ul > li span:last-child {
  color: #676767;
}




/* BENEFIT_BOX */
.benefit_box {
  width: 35%;
  background-color: #2A3493;
  padding: 10px 7px;
  position: relative;
}
.benefit_box h3 {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
.benefit_box img {
  width: 271px;
  height: 181px;
  border-radius: 10px;
}

.benefit_box a {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.benefit_box p {
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  margin-top: 70px;
}

.benefit_box .benefit_01,
.benefit_box .benefit_02 {
  display: flex; 
  justify-content: space-between;
}

.benefit_box .benefit_01,
.benefit_box .benefit_02 {
  display: flex; 
  justify-content: space-between;
}

.benefit_box .benefit_01 .benefit_01_title,
.benefit_box .benefit_02 .benefit_02_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefit_box .benefit_01 .benefit_01_title > a::after,
.benefit_box .benefit_02 .benefit_02_title > a::after {
  display:block;
  width: 60px;
  content: '';
  border-bottom: solid 4px #d9d9d9;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

.benefit_box .benefit_01 .benefit_01_title > a:hover::after,
.benefit_box .benefit_02 .benefit_02_title > a:hover::after {
  transform: scaleX(1); 
  transform-origin: 0% 50%;
}

.benefit_box .benefit_01 img:nth-child(2) {
  position: absolute;
  right: 7px;
}

.benefit_box .benefit_02 {
  display: flex; 
  justify-content: space-between;
}

/* footer */
footer .footer-wrap {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

footer .footer-wrap .inner {
  padding: 50px 25px;
  display: flex;
}

/* footer_left */
footer .footer-wrap .inner .footer_left {
  width: 70%;
}
footer .footer-wrap .inner .footer_left ul li:hover a {
  font-weight: 700;
  color: #353535;
}
footer .footer-wrap .inner .footer_left ul + ul {
  margin-top: 10px;
}

footer .footer-wrap .inner .footer_left ul:nth-child(1) {
  display: flex;
}

footer .footer-wrap .inner .footer_left ul:nth-child(1) > li {
  margin-right: 20px;
}
footer .footer-wrap .inner .footer_left ul:nth-child(2) {
  display: flex;
}

footer .footer-wrap .inner .footer_left ul:nth-child(2) > li {
  margin-right: 20px;
}

footer .footer-wrap .inner .footer_left ul:nth-child(3) {
  display: flex;
}

footer .footer-wrap .inner .footer_left ul:nth-child(3) > li {
  margin-right: 20px;
}

footer .footer-wrap .inner .footer_info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

/* footer_right */
footer .footer-wrap .inner .footer_right {
  width: 30%;
}
footer .footer-wrap .inner .footer_right div + div {
  margin-top: 56px;
}
footer .footer-wrap .inner .footer_right .sns_icon {
  display: flex;
  justify-content: flex-end;
}

footer .footer-wrap .inner .footer_right .sns_icon img + img {
  margin-left: 20px;
}

footer .footer-wrap .inner .footer_right .customer_center {
  text-align: end;
}

footer .footer-wrap .inner .footer_right .customer_center p:nth-child(1) {
  font-size: 20px;
}

footer .footer-wrap .inner .footer_right .customer_center p:nth-child(2) {
  font-size: 35px;
  font-weight: 700;
  color: #2A3493;
}

footer .inner:nth-child(2) {
  padding: 50px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .inner:nth-child(2) .f_b_icon01 {
  height: 41px;
}

footer .inner:nth-child(2) .f_b_icon02 {
  height: 26px;
}
footer .inner:nth-child(2) .f_b_icon03 {
  height: 26px;
}
footer .inner:nth-child(2) .f_b_icon04 {
  height: 41px;
}




/* MODAL_ALL */


.search_box .date_select_box {
  width: 50%;
  height: 70%;
  background-color: #fff;
  border: 1px solid #b1b1b1;
  margin-top: 20px;
  position: absolute;
  top: 250px;
  left: 300px;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.search_box .from_to_date {
  display: none;
}

.search_box .from_to_date .date_select_box {
  display: flex;
}

.search_box .from_to_date .ft_date {
  display: flex;
}

.search_box .from_to_date .ft_date input[type="date"]::-webkit-calendar-picker-indicator {
  background-position: right;
  background-size: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
}

.search_box .from_to_date .ft_date input {
  position: relative;
}

.search_box .date_select_box span:nth-child(2) {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}

.search_box .from_to_date > span:nth-child(2) { 
  font-size: 14px;
  position: absolute;
  top: 545px;
  right: 270px;
  z-index: 3;
}



.search_box .from_to_date span:nth-child(2) {
  /* align-self: flex-start; */
  /* margin-left: 110px; */
}
.search_box .from_to_date input {
  /* cursor: pointer; */
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #676767;
  margin-left: 10px;
}

.search_box .from_to_date label {
  display: block;
  font-weight: 700;
  /* margin-right: 10px; */
}


.search_box .from_to_date input#from {
  margin-right: 20px;
}


/* passenger_modal */
.passenger_modal {
  width: 60%;
  height: 50%;
  background-color: #fff;
  border: 1px solid #b1b1b1;
  margin-top: 20px;
  position: absolute;
  top: 250px;
  left: 300px;
  z-index: 2;
  border-radius: 10px;
  padding: 20px;
  display: none;
}

.passenger_modal .passenger_title {
  display: flex;
  justify-content: space-between;
}

.passenger_modal .passenger_title h3 {
  font-size: 30px;
  font-weight: 700;
  color: #2A3493;
}

.passenger_modal .passenger_title span.material-icons {
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}

.passenger_modal .count_wrap {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 30px;
}

.passenger_modal .count_wrap p {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.passenger_modal .count_wrap span {
  font-size: 30px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.passenger_modal .count_wrap button#plus,
.passenger_modal .count_wrap button#plus_1,
.passenger_modal .count_wrap button#plus_2 { 
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  margin: 10px 0 0 10px;
  background-image: url("../images/passenger__control-add.svg");
  cursor: pointer;
}

.passenger_modal .count_wrap button#minus,
.passenger_modal .count_wrap button#minus_1,
.passenger_modal .count_wrap button#minus_2 { 
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  margin-right: 5px;
  background-image: url(../images/passenger__control-sub.svg);
  cursor: pointer;
}


/* 단체예약 버튼 모달창 */
.group_booking {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

.group_booking .modal_box {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.group_booking .modal_box .modal_box_header {
  padding: 5px;
  background-color: #2A3493;
  width: 100%;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
}


.group_booking .modal_box p {
  font-size: 28px;
  text-align: center;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.group_booking .modal_box .modal_box_content {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.group_booking .modal_box .modal_box_content span {
  text-align: center;
}

.group_booking .modal_box .modal_footer {
  display:inline-flex;   
  width: 100%;
  height: 30px;
  border-top: 1px solid #676767;
  /* justify-content: center;
  align-items: center; */
  transition: background-color 0.3s;
}

.group_booking .modal_box .modal_footer .comfirm {
  width: 50%;
  height: 100%;
  border-right: 1px solid #676767;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}

.group_booking .modal_box .modal_footer .comfirm:hover {
  background-color: #2A3493;
  color: #fff;
  border-radius: 0 0 0 10px;
}

.group_booking .modal_box .modal_footer .close_2 {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}

.group_booking .modal_box .modal_footer .close_2:hover {
  background-color: #2A3493;
  color: #fff;
  border-radius: 0 0 10px 0;
}



/* 반응형 */
@media screen and (min-width: 768px) and (max-width: 1199px) {

  /* header */
  header .inner div.sub-menu {
    display: none;
  }
  header .inner nav.main-menu {
    display: none;
  }
  
  header .inner .logo {
    position: static;
  }
  header .inner {
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }

  header .inner .btn-hamburger {
    display: flex;

  }
  header .inner .btn-hamburger span.material-icons {
    font-size: 60px;
    color: #2A3493;
  }

  /* visual */
  .visual {
    height: 35.94vw;
    margin-top: 100px;
  }

  .visual .swiper-button-prev,
  .visual .swiper-button-next {
    display: none;
  }

  /* search_box */
  .search_box .inner .search_tab {
    justify-content: center;
  }

  .search_box .inner {
    width: 80%;
  }

  .search_box .inner .search_tab {
    width: 100%;
  }

  .search_box .inner .search_tab > li {
    width: 25%;
  }

  .search_box .inner .search_tab_content {
    width: 100%;
    height: 829px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .search_box .search_tab_content .select_btn > li > button:nth-child(1) {
    font-size: 20px;
  }

  .search_box .search_tab_content .select_date .booking_type {
    justify-content: center;
  }

  
  .select_area .select_from:last-child,
  .select_area .select_to:last-child  {
    display: inline-block;
    
  }

  .select_area .select_from span:last-child,
  .select_area .select_to span:last-child {
    display: block;
    width: 90px;
  }


  .search_box .search_tab_content .booking_group {
    flex-direction: column;
  }

  .search_box .booking_group div + div {
    margin-left: 0;
  }
  .search_box .booking_group .booking_content {
    display: flex;
    justify-content: space-between;
  }

  .search_box .booking_group span:first-child {
    font-size: 18px;
    font-weight: 700;
    color: #676767;
  }

  .search_box .search_tab_content .select_date .booking_type {
    font-size: 20px;
  }

  .select_area .change {
    width: 60px;
  }

  .search_box .btn_search {
    width: 100%;
    height: 70px;
    margin: 30px 0;
    padding: 20px 30px;
    font-size: 25px;
  }

  .search_box .btn_search::before {
    content: '* 출/도착일과 승객, 좌석등급을 모두 선택해주세요!!';
    display: none;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);  
    font-weight: 700;
    color: rgb(221, 2, 2);
  }

  .search_box .inner .search_tab_reservation {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .search_box .inner .search_tab_reservation .reservation_btn {
    flex-direction: column;
  }
  .search_box .inner .search_tab_reservation .reservation_btn label {
    display: block;
  }
  .search_box .inner .search_tab_reservation .reservation_btn input {
    width: 100%;
    display: block;
    margin: 20px 0 40px;
  }
  .search_box .inner .search_tab_reservation button.btn_search_1 {
    width: 200px;
    height: 65px;
    font-size: 30px;
  }

  .search_box .inner .search_tab_checkIn {
    width: 100%;
    height: 100%;
  }

  .search_box .inner .search_tab_checkIn .checkIn_btn {
    width: 100%;
    flex-direction: column;
  }
  .search_box .inner .search_tab_checkIn .checkIn_btn label {
    display: block;
  }
  .search_box .inner .search_tab_checkIn .checkIn_btn input {
    width: 100%;
    display: block;
    margin: 20px 0 40px;
  }
  .search_box .inner .search_tab_checkIn button.btn_search_1 {
    width: 200px;
    height: 65px;
    font-size: 30px;
  }

  /* sale_box */
  .sale_box .inner .title {
    text-align: center;
  }
  .sale_box .inner .title .title_wrap {
    display: block;
  }

  .sale_box .inner .title .title_wrap > h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .sale_box .inner .title .title_wrap .btn_sale_more {
    width: 200px;
    font-size: 18px;
  }

  /* goods */
  .goods .inner .title {
    text-align: center;
  }
  .goods .inner .title .title_wrap {
    display: block;
  }

  .goods .inner .title .title_wrap > h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .goods .inner .title .title_wrap .btn_sale_more {
    width: 200px;
    font-size: 18px;
  }

  /* travel_service */
  .travel_service .inner {
    width: 80%;
  }

  .travel_service .inner .title {
    text-align: center;
  }

  .travel_service .inner .title > h2 {
    font-size: 40px;
  }


  .travel_service .inner .icons {
    width: 100%;
    margin: 0 auto;
  }


  /* notice */
  .notice .inner {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .notice .inner .notice_box {
    width: 100%;
  }

  .notice .inner .benefit_box {
    width: 100%;
    height: 550px;
  }

  .notice .inner .benefit_box > h3 {
    font-size: 50px;
  }

  .notice .inner .benefit_box .benefit_01_title a {
    font-size: 40px;
  }

  .notice .inner .benefit_box .benefit_01_title a.text2 {
    margin-bottom: 100px;
  }

  .notice .inner .benefit_box img {
    width: 640px;
    height: 420px;
  }

  .notice .inner .benefit_box .benefit_01 .benefit_01_title > a::after,
  .notice .inner .benefit_box .benefit_02 .benefit_02_title > a::after {
    width: 100px;
    border-bottom: solid 10px #d9d9d9;
  }

  .notice .inner .benefit_box p {
    font-size: 60px;
  }
}



































